{% extends "layout_book.html" %}

{% block title %}
    Book
{% endblock %}

{% block left %}
<br>
<br>
<table class="table">
    <tbody>
        <tr>
          <th>Title</th>
            <td>{{book.title}}</td>
        </tr>
        <tr>
          <th>Author</th>
            <td>{{book.author}}</td>
        </tr>
        <tr>
          <th>Publication Year</th>
            <td>{{book.year}}</td>
        </tr>
        <tr>
          <th>ISBN</th>
            <td>{{book.isbn}}</td>
        </tr>
        <tr>
          <th>Average Goodreads Rating</th>
          {% if rating[1]>0 %}
            <td>{{rating[0]}}/5</td>
          {% else %}
            <td>Not available</td>
          {% endif %}
        </tr>
        <tr>
          <th>Number of Ratings</th>
            <td>{{rating[1]}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block middle %}
<h6> Ratings for that book:</h6>
<br>
{% if reviewnb>0 %}
<div class="list-group">
  {% for review in reviews %}
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">User #{{review.user_id}}</h5>
      <small>Grade: {{review.grade}}/5</small>
    </div>

    <p>{{review.review}}</p>
  </a>

  {% endfor %}
</div>
{% else %}
<p> No review for that book </p>
{% endif %}



<br>
<br>
<h6> Would like to add yours?</h6>


<form action="{{ url_for('review', isbn=book.isbn) }}" method="post">


  <div class="form-group">
    <label for="exampleFormControlSelect1">Grade</label>
    <select  name= "grade" class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Review</label>
    <textarea name="review" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">ISBN:</label>
    <div class="col-sm-10">
      <input name="isbn" type="text" readonly class="form-control-plaintext" id="staticEmail" value={{book.isbn}}>
    </div>
  </div>

  <button type="submit" class="btn btn-info">Submit Review</button>

</form>

{% endblock %}



{% block rightcorner %}
<a href="{{ url_for('index')}}" class="btn btn-outline-danger" role="button" aria-pressed="true"> Sign Out </a>
{% endblock %}
