{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}

<table class="table">
    <tbody>
        <tr>
          <th>Title</th>
            <td>{{book.title}}</td>
        </tr>
        <tr>
          <th>Author</th>
            <td>{{book.author}}</td>
        </tr>
        <tr>
          <th>Publication Year</th>
            <td>{{book.year}}</td>
        </tr>
        <tr>
          <th>ISBN</th>
            <td>{{book.isbn}}</td>
        </tr>
    </tbody>
</table>
<br>
<p> Want to share what you thought about this book? Please leave a review:


<form action="{{ url_for('review') }}" method="post">

  <div class="form-group">
    <label for="exampleFormControlSelect1">Grade</label>
    <select  name= "grade" class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Review</label>
    <textarea name="review" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-info">Submit Review</button>

</form>

{% endblock %}



{% block rightcorner %}
<a href="{{ url_for('index')}}" class="btn btn-outline-danger" role="button" aria-pressed="true"> Sign Out </a>
{% endblock %}
