{% extends "layout.html" %}

{% block title %}
    Hello
{% endblock %}


{% block body %}
{% if new %}
  <h2> Thanks for your contribution! {{username}}</h2>
  <br>
  <p> Grade: {{grade}} for ISBN #{{isbn}}</p>
  <br>
{% else %}
  <h5> {{username}}, you seem to have graded that book in the past: </h5>
  <br>
  <br>
  <table class="table">
      <tbody>
          <tr>
            <th>ISBN</th>
              <td>{{isbn}}</td>
          </tr>
          <tr>
            <th>Grade</th>
              <td>{{grade}}</td>
          </tr>
          <tr>
            <th>Review</th>
              <td>{{review}}</td>
          </tr>
      </tbody>
  </table>
{% endif %}

<a href="{{ url_for('search')}}" class="btn btn-outline-success" role="button" aria-pressed="true"> Search a book </a>
<br>

{% endblock %}


{% block rightcorner %}
<a href="{{ url_for('index')}}" class="btn btn-outline-danger" role="button" aria-pressed="true"> Sign Out </a>
{% endblock %}
