<!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body>
        <h1> Sign up Page </h1>
        <form action="{{ url_for('first_visit') }}" method="post">
          <input type="text" name="username" placeholder="Enter Your Username">
          <input type="text" name="password" placeholder="Enter Your Password">
          <button>Submit</button>
        </form>
    </body>
</html>
